html {
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #FAF7EC; /* Off White */
}

nav, h1, h2, h3, h4, h5, h6 {
  font-family: 'Mate SC', serif;
}

.bg-image {
  background: url(images/site-bg.jpg), #451212;
  background-blend-mode: luminosity;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.sticky-top {
  margin-bottom: 2em;
}

.jumbotron {
  background-color: rgba(27, 30, 33, 0.83); /* Dark Gray */
}

.btn-primary {
  background-color: #9B1616;
  border-color: #9B1616;
}

.guild, .raiding, .contact {
  min-height: 500px;
}

footer {
  background-color: #000;
  color: #ccc;
  display: block;
  padding: 2em;
}

footer .col{
  display: inline-block;
}
