body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #FAF7EC; /* Off White */
}

nav, h1, h2, h3, h4, h5, h6 {
  font-family: 'Mate SC', serif;
}
a, a:hover, a:active, a:focus, a:visited {
  color: #FAF7EC; /* Off White */
}

a:hover {
  text-decoration: none;
}

.navbar {
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
}

.top {
  margin-top: -50px;
}

.jumbotron {
  background-color: rgba(32, 0, 0, 0.75); /* Dark Red */
  text-align: center;
  margin: auto;
}

.raiding .jumbotron {
  text-align: left;
}

.btn-primary {
  background-color: #9B1616;
  border-color: #9B1616;
}

.btn-primary:hover {
  background-color: #43100f;
  border-color: #43100f;
  transition: all .3s ease;
}

.wrap-padding {
  padding-bottom: 50px;
}

footer {
  background-color: #000;
  color: #ccc;
}

footer .row {
  padding: 2em;
}

footer p {
  margin: 0;
}

footer .col{
  display: inline-block;
  margin: 2em 0;
}

/* Parallax */
.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.section {
  position: relative;
  padding: 150px 3em;
  height: auto;
}

aside {
  margin: auto;
}

.static {
  background: #343b3f;
  padding: 150px 3em;
  height: auto;
}

.bg1::after {
  background: url('images/site-bg.jpg'), #451212;
  background-blend-mode: luminosity;
  background-position: top center;
  background-repeat: no-repeat;
}

.bg2::after {
  background: url('images/site-bg2.jpg'), #451212;
  background-blend-mode: luminosity;
  background-position: top center;
  background-repeat: no-repeat;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: cover;
  z-index: -1;
}

/* Mobile */
