html {
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
}

.bg-image {
  background: url(images/site-bg.jpg), #451212;
  background-blend-mode: luminosity;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.sticky-top {
  margin-bottom: 2em;
}

.jumbotron {
  color: #FAF7EC; /* Off White */
  background-color: rgba(27, 30, 33, 0.83); /* Dark Gray */
}
